#intro_sec {
  color: #395e66;
  font-family: sans-serif;
  font-size: 40px;
}

#intro_descrip {
  font-size: 17px;
  font-family: Times New Roman;
}

#comp_heading {
  font-family: Georgia;
  color: #52aa5e;
  background-color: black;
}

#price_compare {
  font-size: 14px;
  font-family: serif;
}

#vis3_descrip {
  font-size: 15px;
  color: #43aa8b;
  font-family: Georgia;
}